.wrap {
    margin: 100px auto;
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.pig-img {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
}

.appear {
    opacity: 1;
}